In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [3]:
response

In [4]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [5]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,42.2486,8.708,28149
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,40.9405,8.687,21339
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.7360,8.570,12900
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,31.2813,8.564,16366
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,19.6506,8.547,9078

In [49]:
df = pd.DataFrame()

In [50]:
df

Empty DataFrame
Columns: []
Index: []

In [48]:
all_movies=[] 
print("loop started")
for i in range(1,429):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    # all_movies.append(temp_df)
    df = pd.concat([df, temp_df], ignore_index=True)
    # print(df)
    # df = df.append(temp_df,ignore_index=True)
    # df = pd.concat([df,temp_df], ignore_index=True)
print("loop ended")

loop started

/tmp/ipykernel_19686/598222751.py:7: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df], ignore_index=True)

loop ended

In [51]:
import requests
import pandas as pd

# Initialize empty DataFrame before the loop
df = pd.DataFrame(columns=['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count'])

print("loop started")
for i in range(1, 429):
    url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={i}'
    response = requests.get(url)

    if response.status_code == 200:
        try:
            temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'popularity', 'vote_average', 'vote_count']]
            df = pd.concat([df, temp_df], ignore_index=True)
        except Exception as e:
            print(f"Error parsing page {i}: {e}")
    else:
        print(f"Failed to fetch page {i}, status code: {response.status_code}")

print("loop ended")

loop started

/tmp/ipykernel_19686/4209375822.py:15: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df = pd.concat([df, temp_df], ignore_index=True)

loop ended

In [52]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,42.2486,8.708,28149
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,40.9405,8.687,21339
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,19.7360,8.570,12900
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,31.2813,8.564,16366
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,19.6506,8.547,9078
...,...,...,...,...,...,...,...
8555,34803,Death at a Funeral,Aaron's father's funeral is today at the famil...,2010-04-15,5.6053,5.850,989
8556,14161,2012,"Dr. Adrian Helmsley, part of a worldwide geoph...",2009-10-10,12.6477,5.850,12117
8557,13555,The Funhouse,Rebellious teen Amy defies her parents by goin...,1981-03-13,1.3303,5.850,401
8558,11870,Big Fat Liar,After one of his class papers is stolen and tu...,2002-02-08,3.1865,5.850,826
8559,9099,Sgt. Bilko,The US army is known for churning out lean mea...,1996-03-29,2.5086,5.800,360

In [53]:
df.shape

(8560, 7)

In [55]:
df.to_csv('movies.csv',index=False)